# Environment variables
.env

environment/neo4j
environment/odoo
# Python cache
__pycache__/
*.pyc

# Poetry virtual environment (jika dibuat di dalam proyek)
.venv/

# VSCode settings
.vscode/
services/**/dist
services/**/__pycache__
services/**/.venv
sa-key.json