# Environment variables
.env


# Python cache
__pycache__/
*.pyc

# Poetry virtual environment (jika dibuat di dalam proyek)
.venv/

# VSCode settings
.vscode/
services/**/dist
services/**/__pycache__
services/**/.venv
sa-key.json

sql/

local-scripts/

environment/neo4j/
environment/odoo/
environment/odoo/config/
environment/odoo/config/odoo.conf